
.hero-inner-container{
    height: 555px;
}

.header-image{
    border-radius: 100px;
}

.navbar{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.featurette-image{
    border-radius: 50px;
}

.navbar-nav {
    align-items: center;
}

.logo-neon {
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: linear;
}

.logo-neon:hover{
    filter: drop-shadow(2px 4px 6px red);
}

.nav-link {
    color: rgb(255, 255, 255);
    /* font-family: 'Tourney', cursive; */
    font-size: 25px;
    text-shadow: -3px 2px 2px #741676, -4px 2px 2px #d181d8;
    font-weight: 200;
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: linear;
}
.nav-link:hover {
    color: rgb(255, 255, 255);
    /* font-size: 30.5px; */
    filter: drop-shadow(2px 4px 6px red);
}
@keyframes fadeIn {
0% {
    transform: translateZ(-100%);
    opacity: 0;
}
100% {
    transform: translateZ(0);
    opacity: 1;
}
}
@keyframes slideFromTop{
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
    }
@keyframes heroText{
    0% {
        transform: translatex(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.pollo {  
/* This section calls the fadeIn animation we defined above */
animation: 1.5s ease-in-out 0s 1 fadeIn;
}

.hero-text{
    animation: 1s ease-in-out 0s 1 heroText;
    margin-top: 2rem;
}

.pollo-header {
    color: white;
    background-image: url("../assets/polloHero.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 111vh;
    padding: 0 15%;
  }

  .container{
      max-width: 100% !important;
  }

  .marias-section{
    position: sticky; 
    top: 0vh; 
    height: 110vh; 
    background-image: url('../assets/Nopales.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    align-items: center;
    padding: 0 15%;
  }

  .slide-card{
    position: sticky;
    top: 11vh;
    height: 90vh;
    padding: 0% 10%;
    align-items: center;
  }

  .slide-1{
      background-color: darkcyan;
  }

  .slide-2{
      background-color: darksalmon;
  }

  .slide-3{
      background-color: darkgoldenrod;
  }

  body{
      background-color: black;
  }

.footer{
    position: absolute;
    padding: 1% 15%
}

.featurette-heading{
    margin-top: 0 !important;
    color: white;
    margin-bottom: 2rem !important;
}

.featurette-image{
    border-radius: 50% !important;
}

.arrow {
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 8px 8px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }
  
  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }